/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    // MODEL MODULES

    withName: 'TRAINING_VALIDATION' {
        tag        = { "validation -- ${params.challenges_ids} -- ${params.participant_id}" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy",
            overwrite: true
        ]
        container  = "${params.validation_docker_training}"
        //container = { (params.challenges_ids == "training_dataset") ? "${params.validation_docker_training}" : "${params.validation_docker_model}"  }
    }

    withName: 'TRAINING_COMPUTE_METRICS' {
        tag        = { "compute_metrics -- ${params.challenges_ids} -- ${params.participant_id}" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy",
            overwrite: true
        ]
        container = "${params.metrics_docker_training}"
        //container  = "mmoralesmar/baiha_dataset_metrics:latest"
    }

    withName: 'TRAINING_CONSOLIDATION' {
        tag        = { "consolidation -- ${params.challenges_ids} -- ${params.participant_id}" }
        publishDir = [
            [
                path: { "${params.outdir}" },
                mode: "copy",
                overwrite: true,
                pattern: "*.json",
            ],
            [
                path: { "${params.otherdir}" },
                mode: "copy",
                overwrite: true,
                pattern: "other_dir",
                saveAs: { filename -> "plots" }
            ]
        ]
        container = "${params.consolidation_docker_training}"
        //container  = "mmoralesmar/baiha_dataset_consolidation:latest"
    }



    // TRAINING MODULES

    withName: 'MODEL_VALIDATION' {
        tag        = { "validation -- ${params.challenges_ids} -- ${params.participant_id}" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy",
            overwrite: true
        ]
        container  = "${params.validation_docker_model}"
        //container = { (params.challenges_ids == "training_dataset") ? "${params.validation_docker_training}" : "${params.validation_docker_model}"  }
    }

    withName: 'MODEL_COMPUTE_METRICS' {
        tag        = { "compute_metrics -- ${params.challenges_ids} -- ${params.participant_id}" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy",
            overwrite: true
        ]
        container = "${params.metrics_docker_model}"
        //container  = "mmoralesmar/baiha_dataset_metrics:latest"
    }

    withName: 'MODEL_CONSOLIDATION' {
        tag        = { "consolidation -- ${params.challenges_ids} -- ${params.participant_id}" }
        publishDir = [
            [
                path: { "${params.outdir}" },
                mode: "copy",
                overwrite: true,
                pattern: "*.json",
            ],
            [
                path: { "${params.otherdir}" },
                mode: "copy",
                overwrite: true,
                pattern: "other_dir",
                saveAs: { filename -> "plots" }
            ]
        ]
        container = "${params.consolidation_docker_model}"
        //container  = "mmoralesmar/baiha_dataset_consolidation:latest"
    }

}